!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title BisLite
    %link{:href => "data:image/x-icon;,", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/homepage.css", :rel => "stylesheet"}/
    %link{:href => "css/common.css", :rel => "stylesheet"}/
  %body
    %header
      %nav#header-nav.navbar.navbar-default
        .container
          .navbar-header
            .navbar-brand.pull-left
              %a{:href => "/"}
                %h1.logo-style
                  %span.lato-bold-black Bis
                  %span.lato-regular-blue Lite
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#collapsable-nav", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #collapsable-nav.collapse.navbar-collapse
            %ul#nav-list.nav.navbar-nav.navbar-right
              %li
                %a{:href => "#"} HOME
              %li
                %a{:href => "#"} ABOUT US
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  SERVICES
                  %span.glyphicon.glyphicon-menu-down
                %ul.dropdown-menu.dropdown-menu-left
                  %li
                    %a{:href => "#"} Web Design
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} Wordpress Design
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} Mobile App Development
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} Internet Marketing
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} Social Media Management
              %li.dropdown
                %a{:href => "/portfolio"}
                  PORTLIFIO
                  %span.glyphicon.glyphicon-menu-down
                %ul.dropdown-menu.dropdown-menu-left
                  %li
                    %a{:href => "#"} Web Design
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} Wordpress Design
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} Mobile App Development
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} Internet Marketing
                  %li.divider{:role => "separator"}
                  %li
                    %a{:href => "#"} Social Media Management
              %li
                %a{:href => "#"} BLOG
              %li
                %a{:href => "/contact"} CONTACT US
      #carousel-show
        .container
          #myCarousel.carousel.slide{"data-ride" => "carousel"}
            / Indicato rs
            / Wrapper for slides
            .carousel-inner{:role => "listbox"}
              .item.active
                %img{:alt => "Background", :src => "images/background-slider.jpg"}/
                .carousel-caption.carousel-caption-text
                  %h1 We design clean, crisp &amp; memorable icons
                .carousel-caption.carousel-caption-img
                  %img{:alt => "Cafe", :src => "images/cafe.png"}/
              .item
                %img{:alt => "Background", :src => "images/background-slider.jpg"}/
                .carousel-caption.carousel-caption-text
                  %h1 We design clean, crisp &amp; memorable icons
                .carousel-caption.carousel-caption-img
                  %img{:alt => "Cafe", :src => "images/cafe.png"}/
              .item
                %img{:alt => "Background", :src => "images/background-slider.jpg"}/
                .carousel-caption.carousel-caption-text
                  %h1 We design clean, crisp &amp; memorable icons
                .carousel-caption.carousel-caption-img
                  %img{:alt => "Cafe", :src => "images/cafe.png"}/
              .item
                %img{:alt => "Background", :src => "images/background-slider.jpg"}/
                .carousel-caption.carousel-caption-text
                  %h1 We design clean, crisp &amp; memorable icons
                .carousel-caption.carousel-caption-img
                  %img{:alt => "Cafe", :src => "images/cafe.png"}/
            / Left and right controls
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
              %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
              %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
              %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    #middle-section
      .container
        .row
          .col-md-3.col-sm-6.col-xs-12
            %img{:alt => "icon1", :src => "images/icon1.png"}/
            %h3.title-icon CLEAN THEME
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolores aut maxime exercitationem accusamus
            %a{:href => "#"}
              %span.glyphicon.glyphicon-chevron-right
              Read More
          .col-md-3.col-sm-6.col-xs-12
            %img{:alt => "icon2", :src => "images/icon2.png"}/
            %h3.title-icon RESPONSIVE DESIGN
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolores aut maxime exercitationem accusamus
            %a{:href => "#"}
              %span.glyphicon.glyphicon-chevron-right
              Read More
          .col-md-3.col-sm-6.col-xs-12
            %img{:alt => "icon3", :src => "images/icon3.png"}/
            %h3.title-icon FULLY LAYERD PSD
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolores aut maxime exercitationem accusamus
            %a{:href => "#"}
              %span.glyphicon.glyphicon-chevron-right
              Read More
          .col-md-3.col-sm-6.col-xs-12
            %img{:alt => "icon4", :src => "images/icon4.png"}/
            %h3.title-icon READY FOR CODING
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolores aut maximeexercitationem accusamus
            %a{:href => "#"}
              %span.glyphicon.glyphicon-chevron-right
              Read More
    #latest-works.container
      %img{:alt => "mouse", :src => "images/mouse.png"}/
      %h3.title-icon LATESWORKS
      .arrow-control.pull-right
        %a{"data-slide" => "prev", :href => "#lastest-work-slide"}
          %img{:alt => "", :src => "images/arrow-left.png"}/
        %a{"data-slide" => "next", :href => "#lastest-work-slide"}
          %img{:alt => "", :src => "images/arrow-right.png"}/
      %hr/
      #lastest-work-slide.carousel.slide.row{"data-interval" => "10000", "data-ride" => "carousel", "data-type" => "multi"}
        .carousel-inner


          .item.active

          - @image_names.each do |image_name|
            .mask-hover.col-md-3.col-sm-6.col-xs-12
              .link-mask
                %img.img-responsive{:src => "#{@image_dir}/#{image_name}"}/
                .link-preview
                  %a{:href => "#"}
                    %img{:alt => "", :src => @preview_icon}/
                  %a{:href => "#"}
                    %img{:alt => "", :src => @link_icon}/
            


          / .item
          /   .mask-hover.col-md-3.col-sm-6.col-xs-12
          /     .link-mask
          /       %img.img-responsive{:src => "images/latest-works/latest-work-1.jpg"}/
          /       .link-preview
          /         %a{:href => "#"}
          /           %img{:alt => "", :src => "images/preview.png"}/
          /         %a{:href => "#"}
          /           %img{:alt => "", :src => "images/link.png"}/
          /   .mask-hover.col-md-3.col-sm-6.col-xs-12
          /     .link-mask
          /       %img.img-responsive{:src => "images/latest-works/latest-work-2.jpg"}/
          /       .link-preview
          /         %a{:href => "#"}
          /           %img{:alt => "", :src => "images/preview.png"}/
          /         %a{:href => "#"}
          /           %img{:alt => "", :src => "images/link.png"}/
          /   .mask-hover.col-md-3.col-sm-6.col-xs-12
          /     .link-mask
          /       %img.img-responsive{:src => "images/latest-works/latest-work-3.jpg"}/
          /       .link-preview
          /         %a{:href => "#"}
          /           %img{:alt => "", :src => "images/preview.png"}/
          /         %a{:href => "#"}
          /           %img{:alt => "", :src => "images/link.png"}/
          /   .mask-hover.col-md-3.col-sm-6.col-xs-12
          /     .link-mask
          /       %img.img-responsive{:src => "images/latest-works/latest-work-4.jpg"}/
          /       .link-preview
          /         %a{:href => "#"}
          /           %img{:alt => "", :src => "images/preview.png"}/
          /         %a{:href => "#"}
          /           %img{:alt => "", :src => "images/link.png"}/
      %hr/
    #testimonials-clients.container
      .row
        .col-md-6
          %img{:alt => "icon2", :src => "images/icon5.png"}/
          %h3.title-icon TESTIMONIALS
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia exercitationem tempora, culpa magni, corporis voluptatibus ratione provident cum aperiam necessitatibus cupiditate nesciunt fugiat. Voluptatibus quis libero officia commodi temporibus. Voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum corrupti, perspiciatis illum obcaecati ducimus omnis consectetur minus quia non in commodi adipisci dolore totam ea eos, ipsa labore itaque nobis.
          %p
            %span John Travis, CEO, DomainName.com
        #logo-list.col-md-6
          %img{:alt => "icon2", :src => "images/people.png"}/
          %h3.title-icon OUR CLIENTS
          .row
            %a{:href => "#"}
              .col-md-4.col-sm-4.col-xs-4.text-center
                %img{:alt => "Logo 1", :src => "images/logos/logo1.png"}/
            %a{:href => "#"}
            %a{:href => "#"}
              .col-md-4.col-sm-4.col-xs-4.text-center
                %img{:alt => "Logo 2", :src => "images/logos/logo2.png"}/
            %a{:href => "#"}
              .col-md-4.col-sm-4.col-xs-4.text-center
                %img{:alt => "Logo 3", :src => "images/logos/logo3.png"}/
          .row
            %a{:href => "#"}
              .col-md-4.col-sm-4.col-xs-4.text-center
                %img{:alt => "Logo 4", :src => "images/logos/logo4.png"}/
            %a{:href => "#"}
              .col-md-4.col-sm-4.col-xs-4.text-center
                %img{:alt => "Logo 5", :src => "images/logos/logo5.png"}/
            %a{:href => "#"}
              .col-md-4.col-sm-4.col-xs-4.text-center
                %img{:alt => "Logo 6", :src => "images/logos/logo6.png"}/
    #download-psd.container
      .box-download
        .row.row-download
          .col-md-8
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut nulla sapien, at aliquam erat. Sed vitae massa tellus. Aliquam commodo aliquam metus, sed iaculis nibh tempus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam nec nisi in nisl euismod fringilla.
          .col-md-4.text-center
            .download-psd.text-center
              %button.btn.btn-info.btn-style
                %p
                  %img{:alt => "", :src => "images/download.png"}>/
                  DOWNLOAD PSD
    #footer
      .container
        .footer-info
          .row
            .col-md-3.col-sm-6.col-xs-6
              %h3.title-icon ABOUT US
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora reiciendis possimus non alias aspernatur minus, eaque similique neque rerum deserunt consequuntur magni odio quaerat cumque iusto animi voluptates quisquam pariatur.
            .col-md-2.col-sm-3.col-xs-6
              %h3.title-icon EXPLORE
              %ul
                %li
                  %a{:href => ""} Home
                %li
                  %a{:href => ""} About us
                %li
                  %a{:href => ""} Services
                %li
                  %a{:href => ""} Portfolio
                %li
                  %a{:href => ""} Blog
            .col-md-2.col-sm-3.col-xs-6
              %h3.title-icon BROWSER
              %ul
                %li
                  %a{:href => ""} Careers
                %li
                  %a{:href => ""} Press &amp; Media
                %li
                  %a{:href => ""} Contact Us
                %li
                  %a{:href => ""} Terms of Service
                %li
                  %a{:href => ""} Privacy
            .col-md-2.col-sm-6.col-xs-6.contact-us
              %h3.title-icon CONTACT US
              %p
                %strong BisLite Inc.
              %p Always Street 265
              %p 0X - 125 - Canada
              %br/
              %p Phone: 987-6543-210
              %p Fax: 987-6543-210
            .col-md-3.col-sm-6.col-xs-12.connect-with-us
              %h3.title-icon CONNECT WITH US
              .row
                .col-md-4.col-sm-4.col-xs-4
                  %img{:alt => "", :src => "images/social-icons/fb-icon.png"}/
                .col-md-4.col-sm-4.col-xs-4
                  %img{:alt => "", :src => "images/social-icons/dribbble-icon.png"}/
                .col-md-4.col-sm-4.col-xs-4
                  %img{:alt => "", :src => "images/social-icons/pinterest-icon.png"}/
              .row
                .col-md-4.col-sm-4.col-xs-4
                  %img{:alt => "", :src => "images/social-icons/linkedin-icon.png"}/
                .col-md-4.col-sm-4.col-xs-4
                  %img{:alt => "", :src => "images/social-icons/skype-icon.png"}/
                .col-md-4.col-sm-4.col-xs-4
                  %img{:alt => "", :src => "images/social-icons/share-icon.png"}/
        .copyright
          .row
            .copyright-text.col-md-9.col-sm-9.col-xs-12
              %p © Copyright 2012 - BisLite Inc. All rights reserved. Some free icons used here are created by Brankic1979.com.
              %p Client Logos are copyright and trademark of the respective owners / companies.
            .col-md-3.col-sm-3.col-xs-12
              %a.pull-right{:href => "/"}
                %h1.logo-style
                  %span.lato-bold-black Bis
                  %span.lato-regular-blue Lite
    %script{:src => "js/jquery-2.1.4.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/script.js"}
